root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.md]
trim_trailing_whitespace = false

[{*.cpp,*.hpp}]
indent_style = space
indent_size = 4
ij_c_block_brace_style = end_of_line
ij_c_class_brace_style = end_of_line
ij_any_block_brace_style = end_of_line
ij_any_class_brace_style = end_of_line

[Makefile]
indent_style = tab
